
Scrapper/creds.py
Scrapper/__pycache__/creds.cpython-38.pyc
Scraper/creds.py


WatPlanAndroid/*.iml
WatPlanAndroid/gradle
WatPlanAndroid/local.properties
WatPlanAndroid/.idea/caches
WatPlanAndroid/.idea/libraries
WatPlanAndroid/.idea/modules.xml
WatPlanAndroid/.idea/workspace.xml
WatPlanAndroid/.idea/navEditor.xml
WatPlanAndroid/.idea/assetWizardSettings.xml
WatPlanAndroid.DS_Store
WatPlanAndroid/build
WatPlanAndroid/captures
WatPlanAndroid.externalNativeBuild
WatPlanAndroid.cxx
