[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cchardet = "==2.1.7"
requests = "==2.27.1"
certifi = "==2022.12.7"
charset-normalizer = "==2.0.12"
idna = "==3.3"
urllib3 = "==1.26.9"
python-dotenv = "*"
bs4 = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.8"
